@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@600&display=swap");

* {
  font-family: "Shippori Mincho B1", serif;
}
body,
html {
  height: 100%;
  position: relative;
}
.bg {
  /* The image used */
  background-image: url("/assets/images/umassbackground.jpg");

  /* Full height */
  min-height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  position: static;
}

.translucent {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

.titlePage {
  position: static;
  width: 75%; /*your desired width*/
  top: 33%;
  bottom: 33%;
  left: 0;
  right: 0;
  margin: auto auto;
  text-align: center;
  border-style: solid;
  border-left: none;
  border-right: none;
}

.option {
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  max-width: 125px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: background 0.9s;
}
.option:hover {
  background: black;
  color: white;
}
.elementOpen {
  top: 15%;
  bottom: 15%;
  transition: all 1s ease;
}
/* Desktop Only CSS */
@media only screen and (min-width: 767px) {
  .footer {
    width: 100%;
    text-align: center;
  }
  .option {
    display: inline-block;
  }
}
.social-icon {
  display: inline-block;
}
.bio {
  padding-top: 10%;
}
/* Mobile Only CSS*/
@media only screen and (max-width: 767px) {
  .bio {
    text-align: center !important;
  }
  .headshot {
    text-align: center !important;
    display: inline-block !important;
  }
  .pageMenu {
    display: inline-block !important;
    text-align: left !important;
  }
  .option {
    margin: auto;
    margin-bottom: 10px;
  }
  .titlePage {
    top: 10%;
    bottom: 33%;
  }
}
